header{
    display: none; 
}

section{
    margin:0px;
    padding:0px;
    float: left;
    border-top:0px;
    border-bottom:0px;
}
        
footer{
    width: 100vw;
    float:left;
    position:relative;
    align-items:center;
    text-align: center;
    bottom:10px;
    top:20px;
}
